<div>
  <input type="text" [formControl]="input" />
  <button (click)="searchPerson()">Search</button>
</div>

<h2>Heroes:</h2>
<div class="data-container">
  <div>
    <h4><b>Females: </b></h4>
    <p *ngFor="let female of females; let i = index">
      <b>Name:</b> {{ female.name }} <b>Birth year:</b> {{ female.birth_year }}
    </p>
  </div>

  <div>
    <h4><b>Males: </b></h4>
    <p *ngFor="let male of males; let i = index">
      <b>Name:</b> {{ male.name }} <b>Birth year:</b> {{ male.birth_year }}
    </p>
  </div>  
  
  <div>
    <h4><b>Undefs: </b></h4>
    <p *ngFor="let undef of undefs; let i = index">
      <b>Name:</b> {{ undef.name }} <b>Birth year:</b> {{ undef.birth_year }}
    </p>
  </div>
</div>
