<div>
  <h4>Component 2</h4>

  <h5><b>Global store service</b></h5>
  <div *ngIf="users$ | async as users">
    <p *ngFor="let user of users">
      <b>Name:</b> {{ user.name }} <b>Age:</b>
      {{ user.age }}
    </p>
  </div>

  <p>Add user to usual store</p>
  <app-add-user-form
    (message)="setUsualStoreMessage($event)"
  ></app-add-user-form>

  <h5><b>Local store service</b></h5>
  <div *ngIf="localUsers$ | async as users">
    <p *ngFor="let user of users">
      <b>Name:</b> {{ user.name }} <b>Age:</b>
      {{ user.age }}
    </p>
  </div>

  <p>Add user to usual store</p>
  <app-add-user-form
    (message)="setLocalStoreMessage($event)"
  ></app-add-user-form>
</div>
