<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div>
    <label> Email: </label>
    <input type="email" formControlName="email" />
    <span *ngIf="_email.invalid && (_email.touched || _email.dirty)">
      <span *ngIf="_email.errors?.email" class="error">Invalid email</span>
      <span *ngIf="_email.errors?.required" class="error">Email is required</span>
    </span>
  </div>

  <div>
    <label> Name: </label>
    <input type="text" formControlName="name" />
    <span *ngIf="_name.invalid && (_name.touched || _name.dirty)">
      <span *ngIf="_name.errors?.required" class="error">Name is required</span>
    </span>
  </div>

  <div>
    <label> Comment: </label>
    <input type="text" formControlName="comment" />
  </div>

  <p>Form Status: {{ profileForm.status }}</p>

  <button type="submit" [disabled]="!profileForm.valid">SEND</button>
</form>
